
/* Full Body */
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}
.banner{
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(37, 37, 37, 0.75),rgba(4, 4, 4, 0.75)),url(background.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(0); /* Initial blur value */
  transition: filter 0.5s; /* Transition effect for the blur */
}


/* NavBar */

.navbar{
  width: 90%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: right;
  justify-content: space-between;
}
.logo{
  width: 150px;
  cursor: pointer;  
  top: -50px; 
  transform: translateX(-30%);
  position: relative;
  
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 30px;
  position: relative;
}

.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #0a5fb3;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}

/* Home Page */

.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}
.content h1{
  font-size: 48px;
  margin-top: 80px;
}
.content p{
  margin: 15px auto;
  font-weight: 100;
  line-height: 10px;
  font-size: 18.3px;
}

.lrbutton{
  width:200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 14px;
  border: 2px solid #b5ebe6;
  background: transparent;
  color: #fff;
  cursor:pointer;
  position: relative;
  overflow: hidden;
}

.lrbutton span{
  background:#009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;

}
.lrbutton:hover span{
  width: 100%;
}
.lrbutton:hover{
  border: none;
}



/* Login  */



#loginOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 23, 23, 0.5); /* Semi-transparent black overlay */
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

 .login-box {
  width: 400px;
  padding: 40px;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  text-align: center;
} 
.login-box h2 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #fff;
} 
.input-box-login {
  position: relative;
  margin-bottom: 20px;
}
.input-box-login input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #f5f5f5;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}
.input-box-login label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
  color: #999;
  pointer-events: none;
  transition: 0.3s;
} 
.input-box-login input:focus + label,
.input-box-login input:valid + label {
  top: -18px;
  left: 5px;
  font-size: 14px;
  color: #3498db;
}

/*  */
.icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #999;
}

.icon i{
  cursor: pointer;
  width: 20px;
}

/*  */

.remember-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #fff;
}

.remember-password label {
  font-size: 14px;
  color: #999;
}

.remember-password a {
  text-decoration: none;
  color: #3498db;
  font-size: 14px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #2980b9;
}

.create-account {
  margin-top: 15px;
  font-size: 14px;
  color: #fbfbfb;
}

.create-account a {
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
}

.close-btn {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}


/*RegisterBox*/


#registerOverlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(24, 23, 23, 0.5); /* Semi-transparent black overlay */
display: none;
justify-content: center;
align-items: center;
backdrop-filter: blur(10px);
}

.register-box{
width: 400px;
padding: 40px;
backdrop-filter: blur(10px);
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
text-align: center;
}

.register-box h2 {
margin-bottom: 15px;
font-size: 24px;
color: #fff;
} 
.input-box-register {
position: relative;
margin-bottom: 20px;
}
.input-box-register input {
width: 100%;
padding: 10px;
border: none;
outline: none;
background-color: #f5f5f5;
border-radius: 5px;
font-size: 16px;
color: #333;
}
.input-box-register label {
position: absolute;
top: 10px;
left: 10px;
font-size: 16px;
color: #999;
pointer-events: none;
transition: 0.3s;
} 
.input-box-register input:focus + label,
.input-box-register input:valid + label {
top: -18px;
left: 5px;
font-size: 14px;
color: #3498db;
}

.register-link, .login-link{
background: transparent;
border: none;
color: #3498db;
font-size: 14px;
cursor: pointer;
}

.register-link:hover ,.login-link:hover{
color: #2980b9;
}








/* FIND CSS */


.find-box{
width: 80%;
margin: auto;
padding: 40px;
}

.Find-head{
text-align: center;
margin-bottom: 50px;
color: #fff;
}

.find-search{
width: 100%;
height: 30px;
padding: 10px;
border: none;
outline: none;
background-color: #f5f5f5;
border-radius: 5px;
font-size: 16px;
margin-bottom: 50px;
}

.find-search:focus{
border: 2px solid #009688;
}

.find-search::placeholder{
color: #333;
}

.All-items{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 20px;
margin-bottom: 50px;
}

.Item{
width: 100%;
height: 350px;
background-color: #fff;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
text-align: center;
display: flex;
flex-direction: column;
justify-content: space-around;
position: relative;
}

.item-image{
width: 100%;
height: 250px;
background-size: cover;
background-position: center;
}

.item-info{
padding: 0 20px;
}

.item-info h3{
font-size: 20px;
margin-bottom: 10px;
}

.item-info p{
font-size: 14px;
color: #333;
margin-bottom: 10px;
}

.item-button{
width: 80%;
padding: 6px 0;
text-align: center;
border-radius: 25px;
font-weight: bold;
font-size: 14px;
margin-bottom: 10px;
border: 2px solid #b5ebe6;
background: transparent;
transition: 0.5s;
}

.item-button:hover{
background-color: #009688;
color: #fff;
}